.form-btn {
    margin-top: 20px;
}

.form-signin {
    max-width: 310px;
    width: 100%;
}

.table {
    border-radius: 5px;
    border: 0;
}

.table-dark thead th {
    border: 0;
}

.date-picker-list {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.todo {
    display: flex;
}

.todo-content {
    max-width: 250px;
    width: 100%;
}

.project-title-span {
    font-size: 16px;
}

.project-page-container {
    max-width: 320px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-project {
    width: 100%;
}

.btn-container {
    display: flex;
}

.btn-left + .btn-right {
    margin-left: 15px;
}

.btn-left,
.btn-right {
    max-width: 49%;
    width: 100%;
}

.btn-primary:disabled {
    cursor: not-allowed;
}

.btn-text {
    margin-right: 10px;
}