.todo-detail-container {
    position: absolute;
    right: 0px;
    z-index: 99;
    width: 25%;
    height: 100%;
    overflow: auto;
    border: 1px solid pink;
    background: pink;
    padding: 1.5rem;
}