.card {
    min-height: 166px;
    height: max-content;
    max-width: 600px;
    width: 100%;
    margin: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #201E1E;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.card-title {
    padding: 4px;
    padding-left: 10px;
    width: 100%;
    color: #fff;
    text-align: left;
    display: flex;
    font-size: 16px;
    align-items: center;
}

.card-title-text + .card-title-count {
    margin-left: 5px;
}
.card-title-count {
    padding-top: 1px;
    font-size: 14px;
}

.card-items-droppable{
    width: 100%;
    height: max-content;
}