.card {
    height: max-content;
    min-height: 100px;
    max-width: 400px;
    width: 100%;
    margin: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #201E1E;
}

.column-title {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}