 .app {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
  }

p {
    font-family: DavidLibre, serif;
    font-weight: bold;
  }