.daterangepicker,
.daterangepicker .calendar-table,
.daterangepicker td.off {
    background: #434343;
    border-color: #434343;
    color: #fff;
}
.daterangepicker td.in-range {
    background: #375a7f;
    color: #fff;
}

.daterangepicker td.active {
    background: #357ebd;
}

.daterangepicker td.off, 
.daterangepicker td.off.in-range {
    background: #434343;
}

.drp-calendar,
.calendar-table, 
.drp-buttons {
    background: #434343;
    color: #434343;
    color: #999;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
    color: #fff;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    border-radius: 0;
    display: inline-block;
    padding: 3px;
}
.btn-container {
    width: 100%;
}

.btn-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}