.my-dropdown {
    position: relative;
}

.my-dropdown-menu {
    position: absolute;
    z-index: 50;
    top: 38px;
    width: 154px;
    background-color: #484848;
    overflow: hidden;
    border-radius: 5px;
}