.roadmap-container {
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.table {
    border-radius: 5px;
    border: 0;
}

.table-dark thead th {
    border: 0;
}

.date-picker-list {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.scroll-table {
    overflow: auto;
    height: 90vh;
}

.scroll-table table {
    overflow: hidden;
}

.scroll-table thead {
    width: 100%;
    background-color: #434343;
}

.todo {
    display: flex;
}

.todo-content {
    max-width: 300px;
    width: 100%;
    overflow: hidden;
}

.key-button-wrapper {
    display: flex;
    align-items: center;
}

.btn-container {
    max-width: 200px;
    width: 100%;
}
.project-key-text + .right-btn {
    margin-left: 15px;
}

.right-btn {
    text-align: left;
}

.project-key-text{
    cursor: text;
    font-size: 13px;
    color: #a8a8a8;
}